<div class="panel panel-default">
  <div class="panel-heading">
    <p><h3><strong>Resend confirmation instructions</strong></h3><p>
  </div> 
  <div class="panel-body">
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
  </div>
<% end %>
  </div>
  <div class="panel-footer">
<%= render "devise/shared/links" %>
  </div>
</div>