<div class="center"><p><h3><strong>Wallet Summary</strong></h3></p></div>
<br/>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-md-3 center">Wallet No.</th>
      <th class="col-md-3 center">Name</th>
      <!--
      <th class="center">Debits</th>
      <th class="center">Credits</th>
      -->
      <th class="col-md-3 center">Balance</th>
      <th class="col-md-3 center">Available Balance</th>
      
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><div class="center"><%= @wallet_decorator.display_wallet_id %></div></td>
        <td><div class="center"><%= @wallet_decorator.name %></div></td> 
        <!--
        <td><div class="center"><%= number_to_currency(@wallet_decorator.debits) %></div></td>
        <td><div class="center"><%= number_to_currency(@wallet_decorator.credits) %></div></td>
        -->
        <td><div class="center"><%= number_to_currency(@wallet_decorator.balance) %></div></td>
        <td><div class="center"><%= number_to_currency(@wallet_decorator.avail_balance) %></div></td>
      </tr>
    
  </tbody>
</table>

<% unless @pending_transactions.blank? %>

<div class="center"><p><h3><strong>Pending Transactions</strong></h3></p></div>
<br/>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-md-2 center">Date</th>
      <th class="col-md-1 center">Reference</th>
      <th class="col-md-5 center">Description</th>
      <th class="col-md-1 center">Debits</th>
      <th class="col-md-1 center">Credits</th>
      <th class="col-md-1 center">Balance</th>
<!--      <th class="col-md-1 center">Available Balance</th> -->
    </tr>
  </thead>

  <tbody>  
    <% @pending_transactions.each do |txn| %>
      <tr>
        <td><div class="center"><%= txn.created_at.strftime("%-m/%-d/%-y") %><br/><%= timeago(txn.created_at) %></div></td>
        <td><div class="text-right"><%= link_to txn.reference_no, show_transaction_path(@wallet,txn), class: "btn btn-link" if txn.reference_no.present? %></div></td>
        <td><div class="text-left"><%= txn.description %></div></td>  
        <td><div class="text-right"><%= number_to_currency(txn.debit_amount)  %></div></td>
        <td><div class="text-right"><%= number_to_currency(txn.credit_amount) %></div></td>
        <td><div class="text-right"><%= number_to_currency(txn.balance) %></div></td>
<!--        <td><div class="text-right"><%= number_to_currency(txn.avail_balance) %></div></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<% end %> 

<div class="center"><p><h3><strong>Transactions</strong></h3></p></div>
<br/>
<div class="filter center">
  <%= form_tag wallet_transactxns_path(@wallet), method: :get, class: "form-inline" do %>
  <div class="row">
    <!-- <div class="col-md-4"> -->
    <%= label_tag :by_type %>
    <%= select_tag :type, options_for_select(@txn_types.collect { |t| [t[0].humanize, t[1]] },params[:type]), class: "form-control input-sm", include_blank: true %>
    <%= label_tag :from %>
    <%= date_field :from_date, class: "form-control input-sm" %>
    <%= label_tag :to %>
    <%= date_field :to_date, class: "form-control input-sm" %>   
    <%= submit_tag "View Transactions", name: nil, class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
<br/>
<% if @transactions.blank? %>
    <br/>
<div class="center"><p><strong>No transactions found. </strong></p></div>
<% else %>
<br/>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-md-2 center">Date</th>
      <th class="col-md-1 center">Reference</th>
      <th class="col-md-5 center">Description</th>
      <th class="col-md-1 center">Status</th>
      <th class="col-md-1 center">Debits</th>
      <th class="col-md-1 center">Credits</th>
      <th class="col-md-1 center">Balance</th>
<!--      <th class="col-md-1 center">Available Balance</th> -->
    </tr>
  </thead>

  <tbody>  
    <% @transactions.each do |txn| %>
    <% txn_decorator = TransactxnDecorator.new(txn) %>
      <tr>
        <td><div class="center"><%= txn.updated_at.strftime("%-m/%-d/%-y") %><br/><%= timeago(txn.updated_at) %></div></td>
        <td><div class="text-right"><%= link_to txn.reference_no, show_transaction_path(@wallet,txn), class: "btn btn-link" if txn.reference_no.present? %></div></td>
        <td><div class="text-left"><%= txn.description %></div></td>
        <td><div class="text-center"><%= txn_decorator.display_status %></div></td>
        <td><div class="text-right"><%= number_to_currency(txn.debit_amount)  %></div></td>
        <td><div class="text-right"><%= number_to_currency(txn.credit_amount) %></div></td>
        <td><div class="text-right"><%= number_to_currency(txn.balance) %></div></td>
<!--        <td><div class="text-right"><%= number_to_currency(txn.avail_balance) %></div></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<div class="center">
  <%= will_paginate @transactions, renderer: BootstrapPagination::Rails %>
</div>
<% end %>


