<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title center" ><strong>Transaction Detail #<%= @transactxn_decorator.reference_no %></strong></h2>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>  
          <tr>
            <td><strong>Date:</strong></td>
            <td><%= @transactxn_decorator.created_at.strftime("%-m/%-d/%-y") %></td>
          </tr>
          <tr>
            <td><div class="text-left"><strong>Description:</strong></div></td>
            <td><div class="text-left"><%= @transactxn_decorator.description %></div></td>
          </tr>
          <tr>
            <td><div class="text-left"><strong>Amount:</strong></div></td>
            <td><div class="text-left"><%=number_to_currency(@transactxn_decorator.display_amount) %></div></td>
          </tr>
          <tr>
            <td><div class="text-left"><strong>Balance:</strong></div></td>
            <td><div class="text-left"><%=number_to_currency(@transactxn_decorator.balance) %></div></td>
          </tr>
          <tr>
            <td><div class="text-left"><strong>Available Balance:</strong></div></td>
            <td><div class="text-left"><%=number_to_currency(@transactxn_decorator.avail_balance) %></div></td>
          </tr>
          <tr>
            <td><div class="text-left"><strong>Type:</strong></div></td>
            <td><div class="text-left"><%= @transactxn_decorator.txn_is_a_type_of.capitalize.gsub('_', ' ') %></div></td>
          </tr>
          <tr>
            <td><div class="text-left"><strong>Status:</strong></div></td>
            <td><div class="text-left"><%= @transactxn_decorator.status.capitalize %></div></td>
          </tr>
          <% if @transactxn_decorator.notes.present? %> 
          <tr>
            <td><div class="text-left"><strong>Notes:</strong></div></td>
            <td><div class="text-left"><%= @transactxn_decorator.notes %></div></td>
          </tr>
          <% end %>
          <% if @transactxn_decorator.clearing_date.present? %> 
          <tr>
            <td><div class="text-left"><strong>Expected Clearing Date:</strong></div></td>
            <td><div class="text-left"><%= @transactxn_decorator.clearing_date.strftime("%-m/%-d/%-y") %></div></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer"><%= link_to 'Back', :back %></div>
</div>
