<div class="panel panel-default">
  <div class="panel-heading">
    <p><h3><strong>Sign up</strong></h3><p>
  </div> 
  <div class="panel-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %> 
    <% if @validatable %>
      <i>
        (<%= @minimum_password_length %> characters minimum)
      </i>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>
  </div>
  <div class="panel-footer">
<%= render "devise/shared/links" %>
  </div>
</div>
