<div class="panel panel-default">
  <div class="panel-heading">
  <p><h4><strong>Set admin role</strong></h4><p>
  </div> 
  <div class="panel-body">
<%= form_for(@user, html: {id: 'set_admin_role'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>      
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user %>
    <%= f.text_field :name, disabled: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.check_box :admin,  :autofocus => true %> <%= f.label "Set to admin role" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Back', users_path, class: "btn btn-link" %>
  </div>
</div>
