<div class="center"><p><h3><strong>Manage Admin Role and Wallet</strong></h3></p></div>
<br/>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="center">User</th>
      <th class="center">Is admin role?</th>
      <th class="center">Wallet Status</th>
      <th class="center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>  
        <td><div class="center"><%= user.admin %></div></td>
        <td><div class="center"><%= wallet_status(user) %><div></td>
      <td>
        <div class="center">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Set user admin role', edit_user_path(user), class: "btn btn-link" %></li>
            <% if user.wallet.nil? %>
            <li><%= link_to "Activate wallet", new_user_wallet_path(user), class: "btn btn-link" %></li>
            <% end %>
            <% if user.wallet.present? %>
              <% if user.wallet.active? %>
            <li><%= link_to "Deactivate wallet", edit_user_wallet_path(user,user.wallet), class: "btn btn-link" %></li>
              <% else %>
            <li><%= link_to "Reactivate wallet", edit_user_wallet_path(user,user.wallet), class: "btn btn-link" %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        </div>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<div class="center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
<br/>

