<div class="jumbotron">
  <h2><strong>Wally<em>Pay</em></strong> is a secure digital wallet that allows people around the world to add, withdraw and transfer money securely online</h2>
  <% if !current_user.nil? && (current_user.wallet.nil? ||  !current_user.wallet.active? )%>
  <br/><br/>
  <div class="center"><p>Please wait for access to wallet summary until your wallet is re/activated by <strong>Wally<em>Pay</em></strong></p></div>
  <% elsif !user_signed_in?%>
  <br/>
  <p><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary" %></p>
  <% end %>
</div>
