<%= form_for([@user, @wallet], url: user_wallets_path(@user)) do |f| %>
  <% if @wallet.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>      
      <h4><%= pluralize(@wallet.errors.count, "error") %> prohibited this wallet from being activated:</h4>

      <ul>
      <% @wallet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_area :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit value: 'Activate wallet', class: "btn btn-primary" %>
  </div>
<% end %>
