<div class="panel panel-default">
  <div class="panel-heading">
    <p><h4><strong>Wallet for <%= @user.name %></strong></h4></p>
  </div> 
  <div class="panel-body">
    <%= render 'editform' %>
  </div>
  <div class="panel-footer">    
    <%= link_to 'Back', :back %>
  </div>
</div>