<h1>Listing wallets</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Balance</th>
      <th>Credits</th>
      <th>Debits</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wallets.each do |wallet| %>
      <tr>
        <td><%= wallet.description %></td>
        <td><%= wallet.balance %></td>
        <td><%= wallet.credits %></td>
        <td><%= wallet.debits %></td>
        <td><%= link_to 'Show', wallet %></td>
        <td><%= link_to 'Edit', edit_wallet_path(wallet) %></td>
        <td><%= link_to 'Destroy', wallet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wallet', new_wallet_path %>
