<div class="panel panel-default">

  <div class="panel-heading">

<p><h4><strong>Send from <%= @wallet_decorator.name %> Wallet No. <%= @wallet_decorator.display_wallet_id %></strong></h4><p>
  </div> 
    <div class="panel-body">
  
<%= form_for(@wallet_txn, url: make_transfer_wallet_path(@wallet), method: :patch, html: {id: 'make_transfer'}) do |f| %>
<% if @wallet_txn.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>      
      <h4><%= pluralize(@wallet_txn.errors.count, "error") %> prohibited to transfer from this wallet:</h4>

      <ul>
        <% @wallet_txn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :amount_to_send %>
    <%= f.number_field :amount, class: "form-control", placeholder: 'Enter amount...' %>
  </div>

  <div class="form-group">
    <%= f.label :to_recipient %>
    <%= f.email_field :target_email, class: "form-control", placeholder: "Enter recipient's email..." %>
  </div>
  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "form-control", placeholder: "Enter notes..." %>
  </div>
  <div class="form-group">
    <%= f.label :pin %>
    <%= f.password_field :pin, class: "form-control", placeholder: 'Enter pin...' %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary", value: "Send" %>
  </div>
<% end %>
  </div>
  <div class="panel-footer">
<%= link_to "Back", wallet_path, class: "btn btn-link" %>
  </div>
</div>