<div class="panel panel-default">
  <div class="panel-heading">
    <p><h4><strong>Verify funding source for <%= @wallet_decorator.name %> Wallet No. <%= @wallet_decorator.display_wallet_id %> </strong></h4></p>
  </div> 
  <div class="panel-body">
<%= form_for(@funding_source, url: wallet_funding_source_path(@wallet, @wallet_funding_source), method: :patch, html: {id: 'funding_source' }) do |f| %>
  <% if @funding_source.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>      
      <h4><%= pluralize(@funding_source.errors.count, "error") %> prohibited to verify funding source:</h4>
      <ul>
      <% @funding_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :deposit1 %>
    <%= f.number_field :deposit1, class: "form-control", :placeholder => 'Enter deposit1' %>
  </div>
  <div class="form-group">
    <%= f.label :deposit2 %>
    <%= f.number_field :deposit2,  class: "form-control", :placeholder => 'Enter deposit2' %>
  </div>

  <div class="form-group">
    <%= f.submit value: "Verify funding source", class: "btn btn-primary" %>
  </div>
<% end %>
  </div>
  <div class="panel-footer">    
    <%= link_to 'Back', wallet_funding_sources_path(@wallet), class: "btn btn-link" %>
  </div>
</div>