<div class="center"><p><h3><strong>Funding Sources for Wallet No. <%= @wallet_decorator.display_wallet_id %></strong></h3></p></div>
<br/>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="center">Name</th>
      <th class="center">Type</th>
      <th class="center">Process Type</th>
      <th class="center">Verified?</th>
      <th class="center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @funding_sources.each do |funding_source| %>
      <tr>
        <td><div class="text-left"><strong><%= funding_source.name %></strong></div></td>  
        <td><div class="center"><%= funding_source.acct_type %></div></td>
        <td><div class="center"><%= funding_source.processing_type %><div></td>
        <td><div class="center"><%= funding_source.verified %><div></td>
        <td>
          <div class="center">
          <% if  !funding_source.verified %>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Action <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Verify funding source', edit_wallet_funding_source_path(@wallet, funding_source), class: "btn btn-link" %></li>
              </ul>
            </div>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
    
  <% if @funding_sources.by_external_accounts.count < 2 %>
    <%= link_to new_wallet_funding_source_path(@wallet), class: "btn btn-primary", data: { no_turbolink: true } do %>
    <i class="glyphicon glyphicon-plus"></i> New funding source
  <% end %>
<% end %>
