<div class="panel panel-default">
  <div class="panel-heading">
    <p><h4><strong>New funding source for <%= @wallet_decorator.name %> Wallet No. <%= @wallet_decorator.display_wallet_id %> </strong></h4></p>
  </div> 
  <div class="panel-body">
<%= form_for(@funding_source, url: wallet_funding_sources_path(@wallet), html: {id: 'funding_source' }) do |f| %>
  <% if @funding_source.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>      
      <h4><%= pluralize(@funding_source.errors.count, "error") %> prohibited to add funding source:</h4>
      <ul>
      <% @funding_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name,  class: "form-control", :placeholder => 'Enter account name'  %>
  </div>
  <div class="form-group">
    <%= f.label :type %><br/>
    <%= f.select :type, @types, {prompt: "Choose type"}, class: "btn btn-default dropdown-toggle" %>
  </div>
  <div class="form-group">
    <%= f.label :routing_number %>
    <%= f.text_field :routing_number, class: "form-control", :placeholder => '111000025' %>
  </div>
  <div class="form-group">
    <%= f.label :account_number %>
    <%= f.text_field :account_number,  class: "form-control", :placeholder => '000123456789' %>
  </div>

  <div class="form-group">
    <%= f.submit value: "Add funding source", class: "btn btn-primary" %>
  </div>
<% end %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Back', wallet_funding_sources_path(@wallet), class: "btn btn-link" %>
  </div>
</div>