<br/>
<div class="center">
  <p><strong>Copyright <i class="glyphicon glyphicon-copyright-mark"></i> 2014-2021 Wally<em>Pay</em></strong> by <strong>Daniel Ha</strong><br/>
    <strong>Powered by</strong><br/> 
    <strong>Rails <%= Rails::VERSION::STRING %> and Bootstrap 3.4.1</strong></p>
   <%= social_share_button_tag("WallyPay", :url => "http://wallypay.herokuapp.com") %>
</div>
