<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Wally<em>Pay</em></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <% if current_user.admin? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Settings <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to users_path do %>
              <i class="glyphicon glyphicon-user"></i> Manage Admin Role and Wallet
              <% end %>              
            </li>
          </ul>
        </li>
      <% end %>
      <% if !current_user.wallet.nil? && current_user.wallet.active && current_user.wallet.token.present?%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to wallet_path(current_user.wallet), data: { no_turbolink: true } do %>
              <i class="glyphicon glyphicon-book"></i> Summary
              <% end %>              
            </li>
            <li><%= link_to deposit_wallet_path(current_user.wallet) do %>
              <i class="glyphicon glyphicon-plus"></i> Add
              <% end %>             
            </li>
            <% if current_user.wallet.avail_balance > 0 %>
            <li><%= link_to withdrawal_wallet_path(current_user.wallet) do %>
              <i class="glyphicon glyphicon-minus"></i> Withdraw
              <% end %>              
            </li>

            <li><%= link_to transfer_wallet_path(current_user.wallet), data: { no_turbolink: true } do %>
              <i class="glyphicon glyphicon-random"></i> Send
              <% end %>              
            </li>
            <% end %>

          </ul>
        </li>
      <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to edit_user_registration_path do %>
              <i class="glyphicon glyphicon-edit"></i> Edit Profile
              <% end %>   
            </li>
            <% if current_user.wallet.present? && current_user.wallet.active %>
            <% if current_user.wallet.token.nil? %>
            <li><%= link_to wallet_authenticate_path(current_user.wallet) do %>
              <i class="glyphicon glyphicon-book"></i> Activate Wallet
              <% end %>   
            </li> 
            <% end %>
            <% if current_user.wallet.token.present? %>
            <li><%= link_to wallet_funding_sources_path(current_user.wallet), data: { no_turbolink: true } do %>
              <i class="glyphicon glyphicon-book"></i> Get Funding Sources
              <% end %>              
            </li>
            <% end %>
            <% if !current_user.wallet.transactxns.by_pending_txns.blank? %>
            <li><%= link_to check_pending_transactions_wallet_path(current_user.wallet), data: { no_turbolink: true } do %>
              <i class="glyphicon glyphicon-check"></i> Check Pending Transactions
              <% end %>              
            </li>
            <% end %>
            <% end %>

            <li><%= link_to destroy_user_session_path, method: :delete do %>
              <i class="glyphicon glyphicon-log-out"></i> Sign Out
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to new_user_registration_path do %>
              <i class="glyphicon glyphicon-user"></i> Sign Up
            <% end %>
        </li>
        <li><%= link_to  new_user_session_path do %>
              <i class="glyphicon glyphicon-log-in"></i> Login
            <% end %>
        </li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>